* {
  background-color: aliceblue;
}

.a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.b {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin-top: 15%;
  background-color: #2962ff;
  border-radius: 50px;
  transform: rotate(135deg);
  transition: all 1s;
}

.b:hover{
    transform: rotate(230deg);
    transition: all 1s;
}

.c {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
}
